In [1]:
st = {"U","Python",1,2,3,4,4,5,9}
st

{1, 2, 3, 4, 5, 9, 'Python', 'U'}

In [2]:
st1 = {"U",1}
st1.issubset(st)

True

In [3]:
#Add an item to a set
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'cherry', 'banana', 'apple'}

In [5]:
#Add multiple items to a set, using the update() method:

thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'cherry', 'mango', 'grapes', 'apple', 'banana', 'orange'}

In [6]:
#length of the set
print(len(thisset))

6

In [10]:
thisset.discard("cherry")
print(thisset)

{'mango', 'grapes', 'apple', 'banana', 'orange'}

In [12]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()
print(thisset)

set()